/*Form styling*/


#contactForm {
  display: flex;
  flex-direction: column; /*Positions input boxes below each other*/
  gap: 16px;
  width: 800px;

  /*Visual styling*/
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /*Shadow on form*/
  padding: 24px;
  border-radius: 10px;
}

#contactForm label {
  font-weight: bold;
}

#contactForm #message {
  height: 120px;
  resize: vertical; /*Allows resizing vertically (downwards)*/
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
}

/*Styling submit button*/
#contactForm input[type="submit"] {
  background-color: rgb(200, 180, 150);
  color: white;
  border: none;
  cursor: pointer; /*Changes cursor to pointer to show that it's a button*/
  border-radius: 16px;
}

#contactForm #submit:hover {
  background-color: rgb(
    165,
    42,
    42
  ); 
} /*Changes colour on button when hovering */

#contactForm input,
#contactForm textarea,
#contactForm select {
  padding: 8px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 8px;
}

/* Error message styling */

/* Styling for the error text displayed under the inputs */
.errorMsg {
    color: #dc3545; /*red error text*/
    font-size: 12px; /*smaller text*/
    opacity: 1; /*visable when active*/
    transition: opacity 0.2s ease; /*smoothe fade in/out*/
}

/* Hidden state of the error message */
.errorMsg.hidden {
    opacity: 0; /*makes the test invisable but keeps the space*/
}

/* Success message */
#successMsg {
    color: #28a745; /*green success text*/
    font-weight: bold; /*bold styling*/
    margin-top: 16px;
    opacity: 0; /*hidden by default*/
    transition: opacity 0.3s ease; /*smoothe fade animation*/
}

/* Visable state for the success message */
#successMsg.show{
    opacity: 1;
}

/* Media query, responsive design */
@media (max-width: 800px) {

#contactForm {
    width: 400px;
  }
}

/* classes for js */
/* Green border when the field is correctly filled*/
/* !important or the border doesnt show */
.valid {
    border: 2px solid #28a745 !important;
}


/* Red border when the field is invalid */
.error {
    border: 2px solid #dc3545 !important;
}

/* Changing colour and border colour when field is chosen */
#contactForm input:focus,
#contactForm textarea:focus {
  border: 3px solid rgb(0, 60, 255);
  background-color: rgb(236, 236, 236);
} 

